@{
    ViewData["Title"] = "Containerized Fabric Mesh";
}

<div class="text-center">
    <h4 >Containerized Fabric Mesh</h4>
    <p class="mt-4">@TempData["ReplyMessage"]</p>
    <button type="button" class="btn btn-primary" onclick="javascript: location.href = location.href">Refresh</button>
</div>
